body{
    background-image: url("../img/japanese-art.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
   
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
    .body{
    background-image: url("../img/japanese-art.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
 
    }
}

.content{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 7in;
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
    .content{
        background-color: white;
        border-radius: 20px;
        padding: 40px;
        width: 4in;

    }
    
}



.field{
    margin-bottom: 1.75rem;
}



.input1, .input2{
    width: 100%;
	margin-bottom: 30px;
	border-radius: 6px;
	padding-right: 3px;
}

.dropdown-menu.show{
    height: 200px;
    overflow-y: scroll;
}

.convert{
    margin-top: 6rem;
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
    .convert{
        margin-top: 2rem;

    }
    
}


@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
    .title{
        margin-bottom: 0.5rem;

    }
    
}